<!DOCTYPE html>
<html lang="es">


<%- include('partials/head') %>

    <%- include('partials/header') %>
    <body>
        <main>
        
            <div id="carrusel-contenido">
                <div id="carrusel-caja">
                  <div class="carrusel-elemento">
                    <img class="imagenes" src="img/slider/bolt.jpg">
                  </div>
                  <div class="carrusel-elemento">
                    <img class="imagenes" src="img/slider/RUNNERS.jpg">
                  </div>
                  <div class="carrusel-elemento">
                    <img class="imagenes" src="img/slider/women.jpg">
                  </div>
                </div>
              </div>

                <h2 style="margin-top: 80px">NUEVA TEMPORADA</h2>
                <section class="index-nuevaTemp">
                    <% for (let i=0; i<4; i++) { %>
                    <article>
                        <a href="/products/<%= products[i].id %>"><img src="/img/<%= products[i].images[0].image %>" alt="imagen1" class="index-imgNuevaTemp"></a> 
                        <div class="info-box">
                            <p><%= products[i].name %></p>
                            <h2>$<%= toThousand(products[i].price) %></h2>
                        </div>
                    </article>
                    <% } %>
                </section>

                <h2 style="margin-top: 80px">PRODUCTOS DE PROMOCIÓN</h2>
                <div class="container-slider">
                    <div class="container-promo">
                        <input type="radio" name="slider-promo" id="item-1" checked>
                        <input type="radio" name="slider-promo" id="item-2">
                        <input type="radio" name="slider-promo" id="item-3">
                        
                        <% for (let i=0; i<1; i++) {
                            let PriceOffert = (products[i].price * ((100 - products[i].discount) / 100)).toFixed(0)
                            %>
                            <div class="prod-ofertas">
                                <label class="ofertas" for="item-1" id="promo1">
                                    <img src="/img/<%= products[i].images[0].image %>" alt="calzaOferta " class="index-img ">
                                    <p><%= products[i].name %></p>
                                    <p>Antes<span style="text-decoration:line-through ">$<%= toThousand(products[i].price) %></span><br> 
                                        Ahora<span class="index-promoPrecio "> $<%= toThousand(PriceOffert) %></span>
                                    </p>
                                </label>
                                <label class="ofertas" for="item-2" id="promo2">
                                    <img src="/img/<%= products[1].images[0].image %>" alt="calzaOferta " class="index-img ">
                                    <p><%= products[i].name %></p>
                                    <p>Antes<span style="text-decoration:line-through ">$<%= toThousand(products[i].price) %></span><br> 
                                        Ahora<span class="index-promoPrecio "> $<%= toThousand(PriceOffert) %></span>
                                    </p>
                                </label>
                                <label class="ofertas" for="item-3" id="promo3">
                                    <img src="/img/<%= products[2].images[0].image %>" alt="calzaOferta " class="index-img ">
                                    <p><%= products[i].name %></p>
                                    <p>Antes<span style="text-decoration:line-through ">$<%= toThousand(products[i].price) %></span><br> 
                                        Ahora<span class="index-promoPrecio "> $<%= toThousand(PriceOffert) %></span>
                                    </p>
                                </label>
                            </div>
                        <% } %>
                    </div>
                    
                </div>
                   
    

                <div class="index-suscripcion">
                    <form class="index-form">
                      <label for="email" style="margin-bottom:7%">Suscríbete al Newsletter</label>
                      <input type="email " name="email " id="name ">
                    </form>
                    <p>
                    <h4>Recibí las últimas novedades y obtén el 15% de descuento en tu<span style="text-decoration: underline ">
                        próxima compra!</span></h4>
                    </p>
                </div>
        </main>

            <%- include('partials/footer') %>
    </body>
        <script src="js/index.js"></script>
</html>