<!DOCTYPE html>
<html lang="es">


<%- include('partials/head') %>

    <%- include('partials/header') %>
    <body>
        <main>
        
         <div class="carrusel">
           <div class="carrusel-items">
            <div class="carrusel-item">
                <img src="img/logo.png" alt="logo">
            </div>
            <div class="carrusel-item">
               <img src="img/CalzaReebook.jpg" alt="logo">
            </div>
            <div class="carrusel-item">
               <img src="img/vuelta_hotel_eden21_rrss.jpg" alt="logo">
            </div>
            <div class="carrusel-item">
              <img src="img/zapaAdidasHombre2.jpg" alt="logo">
            </div>
            <div class="carrusel-item">
              <img src="img/imagen-1653534412055.jpg" alt="logo">
            </div>
            <div class="carrusel-item">
              <img src="img/remera.jpg" alt="logo">
            </div>
            <div class="carrusel-item">
                <img src="img/CalzaOfertaAdidas2.jpg" alt="logo">
              </div>
           </div>
           </div>

      
                <div class="index-nuevaTemporada">
                    <h3>NUEVA TEMPORADA</h3>

                    <div class="index-prodNuevaTem">
                        <% for (let i=0; i<4; i++) { %>
                        <p>
                            <a href="/products/<%= products[i].id %>"><img src="/img/<%= products[i].images[0].image %>" alt="imagen1" class="index-imgNuevaTemp"></a> <%= products[i].name %>

                        </p>
                        <% } %>
                    </div>

                </div>

                <div class="index-prodOfertas ">
                    <h4>PRODUCTOS DE PROMOCIÓN</h4>
                    <div class="contenedor-cards">
                        <% for (let i=0; i<3; i++) {
                            let PriceOffert = (products[i].price * ((100 - products[i].discount) / 100)).toFixed(0)
                            %>
                        <div class="card">
                            <div class="face front">
                            
                            <img src="/img/<%= products[i].images[0].image %>" alt="calza roja">
                            <h3>Calza Adidas Oferta</h3>
                        </div>
                        <div class="face back">
                            <h3><%= products[i].name %> </h3>
                            <p><br> Color: <%= products[i].colours[0].colour %><br> <%= products[i].name %><br><span class="precioViejo">Precio: <%= toThousand(products[i].price) %></span><br><span class="precioNuevo">Oferta: <%= toThousand(PriceOffert) %></span></p>
                            <div class="link">
                                <a href="/products/<%= products[i].id %>">Ver más...</a>
                            </div>
                        </div>
                        
                    </div>
                    <% } %>
                </div>
                   
    
                <div class="index-suscripcion ">
                    <form class="index-form ">
                        <label for="email ">Suscríbete al Newsletter</label>
                        <input type="email " name="email " id="name ">
                    </form>
                    <p>
                        <h6>Recibí las últimas novedades y obtén el 15% de descuento en tu<span type="text-decoration: underline ">
                        próxima
                        compra!</span></h6>
                    </p>
                </div>
            </main>

            <%- include('partials/footer') %>
        </body>
        <script src="js/index.js"></script>
</html>