<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <main>
                <div class="register-cuadro-ppal">
                    <h1>Registrarme</h1>
                    <div class="register-butt-group">
                        <a href="/users/login"> <button class="register-disabled">Iniciar Sesión</button></a>
                        <a href="/users/register"> <button>Registrarme</button></a>
                    </div>
                    <form class="register-form" id ="register-form" action="/users/register" method="POST" enctype="multipart/form-data">
                        <div class="register-datos">
                            <h3>Datos personales</h3>
                            <p class="register-p">
                                <input type="text" name="nombre" id="nombre" placeholder="NOMBRE"  class="register-placeholder">
                                <span class="div-name-errors"></span>
                                <span class="div-name-characteres-errors"></span>

                                <input type="text" name="apellido" id="apellido" placeholder="APELLIDO" class="register-placeholder">
                                <span class="div-lastName-errors"></span>
                                <span class="div-lastName-characteres-errors"></span>
                                <% if (locals.errors && errors.nombre) { %>
                                    <p align="left"> <%= errors.nombre.msg %></p>                    
                                <% } %>
                                <% if (locals.errors && errors.apellido) { %>
                                    <p align="left"> <%= errors.apellido.msg %></p>                    
                                <% } %>
                            </p>
                            <p>
                                <label for="image">Ingrese imagen de perfil (opcional)</label>
                                <input type="file" name="avatar" id="image">
                                <span class="div-image-errors"></span>
                                  <% if (locals.errors && errors.avatar) { %>  
                                    <p> <%= errors.avatar.msg %></p>  
                                  <% } %>
                            </p>

                            <p class="register-p"><label>Fecha de nacimiento</label>
                                <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="register-placeholder">
                                <% if (locals.errors && errors.fechaNacimiento) { %>
                                    <p> <%= errors.fechaNacimiento.msg %></p>                    
                                <% } %>
                            </p>

                            <div style="display:flex">

                                <p class="register-p"><label>Tipo*</label>
                                <select name= 'documentoTipo' id= 'documentoTipo' class="register-placeholder" style="width:fit-content">
                                    <option>DNI</option>
                                </select>
                                <% if (locals.errors && errors.documentoTipo) { %>
                                    <p> <%= errors.documentoTipo.msg %></p>                    
                                <% } %>
                                </p>
                                <p class="register-p"><label>Numero de documento*</label>
                                <input type="text" name="nDocumento" id="nDocumento" class="register-placeholder"><br> 
                                                             
                                    <% if (locals.errors && errors.nDocumento) { %>
                                     <%= errors.nDocumento.msg %>                
                                    <% } %> 
                                </p>  
                            </div>
                            <p class="register-p"><label>Género</label></p>
                            <p class="register-p"><select name='genero' id = 'genero' class="register-placeholder">
                                <option>Masculino</option>
                                <option>Femenino</option>
                            </select></p>
                            <% if (locals.errors && errors.genero) { %>
                                <p> <%= errors.genero.msg %></p>                    
                            <% } %>

                        </div>
                        <div>
                            <h3>Datos de cuenta</h3>
                            <label></label>
                            <input type="text" name="email" id="email" class="register-placeholder" placeholder="Email*">
                            <span class="div-email-errors"></span>
                            <span class="div-email-character-errors"></span>
                            <% if (locals.errors && errors.email) { %>
                                <p> <%= errors.email.msg %></p>                    
                            <% } %>
                            <br>
                            <label></label>
                            <input type="password" name="password" id="password" class="register-placeholder" placeholder="Contraseña*">
                            <span class="div-password-errors"></span>
                            <span class="div-password-character-errors"></span>
                            <% if (locals.errors && errors.password) { %>
                                <p> <%= errors.password.msg %></p>                    
                            <% } %>

                            <br>
                            <label></label>
                           
                            <br>
                            <label><input type="checkbox" id="cbox1" value="first_checkbox" required> Acepto las políticas de
                            privacidad,
                            los
                            terminos y condiciones </label>
                            <br>
                            <button class="register-registrarme">CREAR MI CUENTA</button>
                        </div>
                    </form>
                </div>

            </main>
            <%- include('../partials/footer') %>

            <script src="/js/validatorRegister.js"></script>
    </body>

</html>