<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

  <main>
    <div class="cuadro-ppal-profile">
      <img src="/img\LOGO RUNNERS STORE.png">
      <h1>Hola <%= user.nombre%>!</h1>
      <div class="cuadro-email">
        <h3><%= user.email%></h3>
      </div>
    </div>

  </main>
  <%- include('../partials/footer') %>
</body>

</html>