<!DOCTYPE html>
<html lang="es">


<%- include('../partials/head') %>

<body>

  <%- include('../partials/header') %>

  <main>
    <form action="/products/edit/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="edit-product">

      <div class="create-control-formulario">
        <label for="CambioNombre">Cambio de nombre</label>
        <input type="text" name="name" id="name" value="<%= product.name %>" placeholder="Nombre nuevo del producto">
        <% if (locals.errors && errors.name) { %>
          <p style="color: red"> <%= errors.name.msg %> </p>               
         <% } %> 
      </div>
      <div class="cambios">
        <label for="CambioDesc">Cambio de descripcion</label>
        <input type="text" name="description" id="description" value="<%= product.description %>" placeholder="Descripcion nueva del producto" style="width:400px">
        <% if (locals.errors && errors.description) { %>
          <p style="color: red"> <%= errors.description.msg %> </p>               
         <% } %> 
      </div>
      <div class="cambios">
        <label for="CambioImagen">Cambio de imagen</label>
        <input type="file" name="imagen" accept=".png, .jpeg, .jpg" multiple>
      </div>
      <label for="CambioCategoria">Categorias disponibles</label>
      <select name="category" id="category">
        <% allCategories.forEach(category => { %>
          <option value="<%= category.id %>" <% if (product.category.id == category.id) { %><%= 'selected' %><% }; %>><%= category.category_description %></option>
          <% }); %>
      </select>
      <% if (locals.errors && errors.category) { %>
        <p style="color: red"> <%= errors.category.msg %> </p>               
       <% } %> 

      <!--<div class="cambios">
        <label for="CambioCategoria">Cambio de categoria</label>
        <div>
          <input type="radio" name="category" value="Mujer"><label style="margin-left: 10px;"> Mujer</label>
        </div>
        <div>
          <input type="radio" name="category" value="Hombre"><label style="margin-left: 10px;"> Hombre</label>
        </div>
        <div>
          <input type="radio" name="category" value="Zapatillas"><label style="margin-left: 10px;"> Zapatillas</label>
        </div>
        <div>
          <input type="radio" name="category" value="Accesorios"><label style="margin-left: 10px;"> Accesorios</label>
        </div>
        <div>
          <input type="radio" name="category" value="Marcas"><label style="margin-left: 10px;"> Marcas</label>
        </div>
      </div> -->
      <div class="cambios">
        <label for="CambioTalles">Talles disponibles</label>
          <div class="checkbox-container">
            <% for (let i=0; i<allSizes.length; i++) { %>
                <input type="checkbox" id="<%= allSizes[i].size %>" name="sizes" value="<%= allSizes[i].id %>">
                <label for="<%= allSizes[i].size %>"><%= allSizes[i].size %></label>
            <% } %>
          </div>
          <% if (locals.errors && errors.sizes) { %>
            <p style="color: red"> <%= errors.sizes.msg %> </p>               
           <% } %> 
      </div>
      <div class="cambios">
        <label for="CambioPrecio">Cambio de precio</label>
        <input type="number" name="price" id="price" value="<%= product.price %>" placeholder="Precio nuevo del producto">
        <% if (locals.errors && errors.price) { %>
          <p style="color: red"> <%= errors.price.msg %> </p>               
         <% } %> 
      </div>
      <div class="cambios">
        <label for="CambioPrecio">Descuento</label>
        <input type="number" name="discount" id="discount" value="<%= product.discount %>" placeholder="Descuento del producto">
      </div>
      <div class="cambios">
        <label>Color</label>
        <div class="checkbox-container">
            <% for (let i=0; i<allColours.length; i++) { %>
              <input type="checkbox" id="<%= allColours[i].colour %>" name="colours" value="<%= allColours[i].id %>" checked>
              <label for="<%= allColours[i].colour %>"><%= allColours[i].colour %></label>
            <% } %>
        </div>
        <% if (locals.errors && errors.colours) { %>
          <p style="color: red"> <%= errors.colours.msg %> </p>               
         <% } %> 
      </div>
      <div>
        <button type="submit">Editar producto</button>
      </div>
    </form>

  </main>
  <%- include('../partials/footer') %>
</body>

</html>