<!DOCTYPE html>
<html lang="es">


<%- include('../partials/head') %>

<body>

  <%- include('../partials/header') %>

  <main>
    <form action="/products/edit/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="edit-product">

      <div class="create-control-formulario">
        <label for="CambioNombre">Cambio de nombre</label>
        <input type="text" name="name" id="name" value="<%= producto.name %>" placeholder="Nombre nuevo del producto">
      </div>
      <div class="cambios">
        <label for="CambioDesc">Cambio de descripcion</label>
        <input type="text" name="description" id="description" value="<%= producto.description %>" placeholder="Descripcion nueva del producto" style="width:400px">
      </div>
      <div class="cambios">
        <label for="CambioImagen">Cambio de imagen</label>
        <input type="file" name="imagen" accept=".png, .jpeg, .jpg" multiple>
      </div>
      <select name="category" id="category">
        <option value="Mujer">Mujer</option>
        <option value="Hombre">Hombre</option>
        <option value="Zapatillas">Zapatillas</option>
        <option value="Accesorios">Accesorios</option>
        <option value="Marcas">Marcas</option>
        <option value=""></option>
      </select>
      <!--<div class="cambios">
        <label for="CambioCategoria">Cambio de categoria</label>
        <div>
          <input type="radio" name="category" value="<%= producto.category %>"><label style="margin-left: 10px;"> Mujer</label>
        </div>
        <div>
          <input type="radio" name="category" value="<%= producto.category %>"><label style="margin-left: 10px;"> Hombre</label>
        </div>
        <div>
          <input type="radio" name="category" value="<%= producto.category %>"><label style="margin-left: 10px;"> Zapatillas</label>
        </div>
        <div>
          <input type="radio" name="category" value="<%= producto.category %>"><label style="margin-left: 10px;"> Accesorios</label>
        </div>
        <div>
          <input type="radio" name="category" value="<%= producto.category %>"><label style="margin-left: 10px;"> Marcas</label>
        </div>
      </div> -->
      <div class="cambios">
        <label for="CambioTalles">Talles disponibles</label>
        <input type="checkbox" name="size" value="xs">XS
        <input type="checkbox" name="size" value="s">S
        <input type="checkbox" name="size" value="m">M
        <input type="checkbox" name="size" value="l">L
        <input type="checkbox" name="size" value="xl">XL
        <input type="checkbox" name="size" value="36">36
        <input type="checkbox" name="size" value="37">37
        <input type="checkbox" name="size" value="38">38
        <input type="checkbox" name="size" value="39">39
        <input type="checkbox" name="size" value="40">40
        <input type="checkbox" name="size" value="41">41
        <input type="checkbox" name="size" value="42">42
        <input type="checkbox" name="size" value="43">43
      </div>
      <div class="cambios">
        <label for="CambioPrecio">Cambio de precio</label>
        <input type="number" name="price" id="price" value="<%= producto.price %>" placeholder="Precio nuevo del producto">
      </div>
      <div class="cambios">
        <label for="CambioPrecio">Descuento</label>
        <input type="number" name="discount" id="discount" value="<%= producto.discount %>" placeholder="Descuento del producto">
      </div>
      <div class="cambios">
        <label>Color</label>
        <input type="color" name="colours" value="<%= producto.colours %>">
      </div>
      <div>
        <button type="submit">Editar producto</button>
      </div>
    </form>

  </main>
  <%- include('../partials/footer') %>
</body>

</html>