<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <!-- todos los productos -->
    <div class="container products-wrapper">
      <div class="row">
        <!-- Categoria Hombre -->
        <div class="category-title">
          <h2>Hombre</h2>
        </div>

        <% productHombre.forEach(function(productHombre){ 
          let finalPrice = (productHombre.price * ((100 - productHombre.discount) / 100)).toFixed(0)
        %>
      <div class="col-12 col-sm-6 col-lg-3" id="hombre">
        <section class="product-box">
          <a href="/products/<%= productHombre.id %>">
            <figure class="product-box_image">
              <% if (productHombre.images.length != 0) { %>
                <img src="/img/<%= productHombre.images[0].image %>" alt="imagen de producto">
                <% } else { %>
                  <img src="/img/default-avatar.jpg" alt="imagen de producto">
                <% } %>
            </figure>
            <article class="product-box_data">
              <p >
                <%= productHombre.name %>
              </p>
              <h2>$
                <%= toThousand(finalPrice) %>
              </h2>
              <span><%= productHombre.discount %> %OFF</span>

              <div class="buttons">
                <form action="#" method="get">
                  <a href="edit/<%= productHombre.id %>"><i class="fa-solid fa-pen"></i><input type="button" name="edit-product" value="Editar producto" class="detail-add-trolle" style="display:none;"></a>

                </form>
                <form action="delete/<%= productHombre.id %>?_method=DELETE" type="submit" method="POST">
                  <button type="submit"><i class="fa-solid fa-xmark"></i></button>
                </form>
              </div>
            </article>
          </a>
        </section>
      </div>
      <% }) %>
      </div>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>