<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <!-- todos los productos -->
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Todos los productos</h2>
        </div>
        <!-- Categoria Mujer -->
        <div class="col-12">
          <h2 class="category-title">Mujer</h2>
        </div>

        <% productMujer.forEach(function(productMujer){ 
				let finalPrice = (productMujer.price * ((100 - productMujer.discount) / 100)).toFixed(0)
			  %>
        <div class="col-12 col-sm-6 col-lg-3" id="mujer">
          <section class="product-box">
            <a href="/products/<%= productMujer.id %>">
              <figure class="product-box_image">
                <% if (productMujer.images.length != 0) { %>
                  <img src="/img/<%= productMujer.images[0].image %>" alt="imagen de producto">
                      <% } else { %>
                        <img src="/img/default-avatar.jpg" alt="imagen de producto">
                      <% } %>             
              </figure>
              <article class="product-box_data">
                <h2>$
                  <%= toThousand(finalPrice) %>
                </h2>
                <span><%= productMujer.discount %> %OFF</span>
                <p>
                  <%= productMujer.name %>
                </p>
                <i class="fas fa-truck"></i>
                <form action="#" method="get">
                  <a href="products/edit/<%= productMujer.id %>"><input type="button" name="edit-product" value="Editar producto" class="detail-add-trolle"></a>
                </form>
                  <form action="products/delete/<%= productMujer.id %>?_method=DELETE" type="submit" method="POST">
                    <button>Delete</button>
                  </form>

              </article>
            </a>
          </section>
        </div>
        <% }) %>

        <!-- Categoria Hombre -->

        <div class="col-12" >
          <h2 class="category-title">Hombre</h2>
        </div>

        <% productHombre.forEach(function(productHombre){ 
                    let finalPrice = (productHombre.price * ((100 - productHombre.discount) / 100)).toFixed(0)
                %>
        <div class="col-12 col-sm-6 col-lg-3" id="hombre">
          <section class="product-box">
            <a href="/products/<%= productHombre.id %>">
              <figure class="product-box_image">
                <% if (productHombre.images.length != 0) { %>
                  <img src="/img/<%= productHombre.images[0].image %>" alt="imagen de producto">
                  <% } else { %>
                    <img src="/img/default-avatar.jpg" alt="imagen de producto">
                  <% } %>
              </figure>
              <article class="product-box_data">
                <h2>$
                  <%= toThousand(finalPrice) %>
                </h2>
                <span><%= productHombre.discount %> %OFF</span>
                <p>
                  <%= productHombre.name %>
                </p>
                <i class="fas fa-truck"></i>
                <form action="#" method="get">
                  <a href="products/edit/<%= productHombre.id %>"><input type="button" name="edit-product" value="Editar producto" class="detail-add-trolle"></a>

                </form>
                <form action="products/delete/<%= productHombre.id %>?_method=DELETE" type="submit" method="POST">
                  <button type="submit">Delete</button>
                </form>
              </article>
            </a>
          </section>
        </div>
        <% }) %>

       <!-- Categoria Zapatillas -->

        <div class="col-12">
          <h2 class="category-title">Zapatillas</h2>
        </div>

        <% productZapatillas.forEach(function(productZapatillas){ 
                        let finalPrice = (productZapatillas.price * ((100 - productZapatillas.discount) / 100)).toFixed(0)
                    %>
        <div class="col-12 col-sm-6 col-lg-3" id="zapatillas">
          <section class="product-box">
            <a href="/products/<%= productZapatillas.id %>">
              <figure class="product-box_image">
                <% if (productZapatillas.images.length != 0) { %>
                  <img src="/img/<%= productZapatillas.images[0].image %>" alt="imagen de producto">
                  <% } else { %>
                    <img src="/img/default-avatar.jpg" alt="imagen de producto">
                  <% } %>
              </figure>
              <article class="product-box_data">
                <h2>$
                  <%= toThousand(finalPrice) %>
                </h2>
                <span><%= productZapatillas.discount %> %OFF</span>
                <p>
                  <%= productZapatillas.name %>
                </p>
                <i class="fas fa-truck"></i>
                <form action="#" method="get">
                  <a href="products/edit/<%= productZapatillas.id %>"><input type="button" name="edit-product" value="Editar producto" class="detail-add-trolle"></a>
                </form>
                <form action="products/delete/<%= productZapatillas.id %>?_method=DELETE" type="submit" method="POST">
                  <button>Delete</button>
                </form>
              </article>
            </a>
          </section>
        </div>
        <% }) %>

       <!-- Categoria Accesorios -->

        <div class="col-12">
        <h2 class="category-title">Accesorios</h2>
        </div>

        <% productAccesorios.forEach(function(productAccesorios){ 
                      let finalPrice = (productAccesorios.price * ((100 - productAccesorios.discount) / 100)).toFixed(0)
                  %>
      <div class="col-12 col-sm-6 col-lg-3" id="accesorios">
        <section class="product-box">
          <a href="/products/<%= productAccesorios.id %>">
            <figure class="product-box_image">
              <% if (productAccesorios.images.length != 0) { %>
                <img src="/img/<%= productAccesorios.images[0].image %>" alt="imagen de producto">
                <% } else { %>
                <img src="/img/default-avatar.jpg" alt="imagen de producto">
                <% } %>
            </figure>
            <article class="product-box_data">
              <h2>$
                <%= toThousand(finalPrice) %>
              </h2>
              <span><%= productAccesorios.discount %> %OFF</span>
              <p>
                <%= productAccesorios.name %>
              </p>
              <i class="fas fa-truck"></i>
              <form action="#" method="get">
                <a href="products/edit/<%= productAccesorios.id %>"><input type="button" name="edit-product" value="Editar producto" class="detail-add-trolle"></a>
              </form>
              <form action="products/delete/<%= productAccesorios.id %>?_method=DELETE" type="submit" method="POST">
                <button>Delete</button>
              </form>
            </article>
          </a>
        </section>
      </div>
      <% }) %>
      </div>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>