<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <form action="/products" method="POST" class="create-product" enctype="multipart/form-data">
                    <div class="create-control-formulario">
                        <label for="nombre" class="create-label">Nombre producto: </label>
                        <input type="text" name="name" class="create-control" required>
                    </div>
                    <div class="create-control-formulario">
                        <label for="descripcion-product" style="display: block; margin-bottom: 10px;" class="create-label">Descripción del producto: </label>
                        <textarea style="width: 90%;" name="description" rows="10" cols="50"></textarea>
                    </div>
                    <div class="create-control-formulario">
                        <label for="fotos" style="display: block; margin-bottom: 10px;" class="create-label">Imagenes Productos:</label>
                        <input type="file" name="imagen" accept=".png, .jpeg, .jpg" multiple>
                    </div>
                    <div class="create-control-formulario">
                        <label for="categoria" style="margin-bottom: 10px; display: block;" class="create-label">Categoría producto:</label>
                        <div>
                            <input type="radio" name="category" value="1"><label style="margin-left: 10px;"> Mujer</label>
                        </div>
                        <div>
                            <input type="radio" name="category" value="2"><label style="margin-left: 10px;"> Hombre</label>
                        </div>
                        <div>
                            <input type="radio" name="category" value="3"><label style="margin-left: 10px;"> Zapatillas</label>
                        </div>
                        <div>
                            <input type="radio" name="category" value="4"><label style="margin-left: 10px;"> Accesorios</label>
                        </div>
                    </div>
                    <div class="create-control-formulario">
                        <select name="colours" id="" required >
                            <option value="" class="create-label" disabled selected>- select color - </option>
                            <% allColours.forEach(colour => { %>
                            <option value="<%= colour.id %>"><%= colour.colour %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="create-control-formulario">
                        <select name="sizes" id="" required >
                            <option value="" class="create-label" disabled selected>- select talle - </option>
                            <% allSizes.forEach(size => { %>
                            <option value="<%= size.id %>"><%= size.size %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="create-control-formulario">
                        <label for="precio-product" class="create-label">Precio del producto:</label>
                        <input type="number" name="price">
                    </div>
                    <div class="create-control-formulario">
                        <label for="discount-product" class="create-label">Descuento del producto:</label>
                        <input type="number" name="discount">
                    </div>
                    <div>
                        <button type="reset">Borrar</button>
                        <button type="submit">Guardar producto</button>
                    </div>
                </form>
                <%- include('../partials/footer') %>
    </body>

</html>