<!DOCTYPE html>
<html lang="es">


<%- include('../partials/head') %>

<body>

  <%- include('../partials/header') %>

  <main>
    <form action="/products/edit/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="edit-product">

      <div class="create-control-formulario">
        <label for="CambioNombre">Cambio de nombre</label>
        <input type="text" name="name" id="name" value="<%= product.name %>" placeholder="Nombre nuevo del producto">
      </div>
      <div class="cambios">
        <label for="CambioDesc">Cambio de descripcion</label>
        <input type="text" name="description" id="description" value="<%= product.description %>" placeholder="Descripcion nueva del producto" style="width:400px">
      </div>
      <div class="cambios">
        <label for="CambioImagen">Cambio de imagen</label>
        <input type="file" name="imagen" accept=".png, .jpeg, .jpg" multiple>
      </div>
      <label for="CambioCategoria">Categorias disponibles</label>
      <select name="category" id="category">
        <% allCategories.forEach(category => { %>
          <option value="<%= category.id %>" <% if (product.category.id == category.id) { %><%= 'selected' %><% }; %>><%= category.category_description %></option>
          <% }); %>
      </select>

      <!--<div class="cambios">
        <label for="CambioCategoria">Cambio de categoria</label>
        <div>
          <input type="radio" name="category" value="Mujer"><label style="margin-left: 10px;"> Mujer</label>
        </div>
        <div>
          <input type="radio" name="category" value="Hombre"><label style="margin-left: 10px;"> Hombre</label>
        </div>
        <div>
          <input type="radio" name="category" value="Zapatillas"><label style="margin-left: 10px;"> Zapatillas</label>
        </div>
        <div>
          <input type="radio" name="category" value="Accesorios"><label style="margin-left: 10px;"> Accesorios</label>
        </div>
        <div>
          <input type="radio" name="category" value="Marcas"><label style="margin-left: 10px;"> Marcas</label>
        </div>
      </div> -->
      <div class="cambios">
        <label for="CambioTalles">Talles disponibles</label>
        <select class="detail-talle" name="talle">
        <% allSizes.forEach(size => { %>
          <option value="<%= size.id %>" <% if (product.sizes.id == size.id) { %><%= 'selected' %><% }; %>><%= size.size %></option>
          <% }); %>
        </select>
      </div>
      <div class="cambios">
        <label for="CambioPrecio">Cambio de precio</label>
        <input type="number" name="price" id="price" value="<%= product.price %>" placeholder="Precio nuevo del producto">
      </div>
      <div class="cambios">
        <label for="CambioPrecio">Descuento</label>
        <input type="number" name="discount" id="discount" value="<%= product.discount %>" placeholder="Descuento del producto">
      </div>
      <div class="cambios">
        <label>Color</label>
        <select class="detail-color" name="colour">
        <% allColours.forEach(colour => { %>
          <option value="<%= colour.id %>" <% if (product.colours.id == colour.id) { %><%= 'selected' %><% }; %>><%= colour.colour %></option>
          <% }); %>
        </select>
      </div>
      <div>
        <button type="submit">Editar producto</button>
      </div>
    </form>

  </main>
  <%- include('../partials/footer') %>
</body>

</html>