<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <div class="create-cuadro-ppal">
      <h2 style="margin-top: 15px;">AGREGAR PRODUCTO</h2>
      <form action="/products" id="productCreate" method="POST" class="create-product" enctype="multipart/form-data">
        <div class="create-control-formulario">
          <label for="nombre" class="create-label <%= locals.errors && errors.name ? 'is-invalid' : null %>">NOMBRE DEL PRODUCTO </label>
          <input type="text" id="productName" name="name" class ="placeholder-create"><br>
          <span class="input-product-name-error"></span>

          <% if (locals.errors && errors.name) { %>
          <p style="color: red"> <%= errors.name.msg %> </p>
          <% } %>
        </div>
        <div class="create-control-formulario">
          <label for="descripcion-product"  style="display: block; margin-bottom: 10px;" class="create-label">DESCRIPCIÓN </label>
          <textarea class ="placeholder-create" style="width: 90%;" id="productDescription" name="description" rows="10" cols="50"></textarea><br>
          <span class="input-product-description-error"></span>
          <% if (locals.errors && errors.description) { %>
          <p style="color: red"><%= errors.description.msg %> </p>
          <% } %>
        </div>
        <div class="create-control-formulario">
          <label for="fotos" style="display: block; margin-bottom: 10px;" class="create-label">IMÁGEN</label>
          <input type="file" name="image" id="image" accept=".png, .jpeg, .jpg" multiple>
          <p class="input-product-image-error"></p>
        </div>
        <div class="create-control-formulario">
          <label for="categoria" style="margin-bottom: 10px; display: block;" class="create-label">CATEGORÍA</label>
          <div>
            <input type="checkbox" name="category" value="1"><label style="margin-left: 10px;"> Mujer</label>
          </div>
          <div>
            <input type="checkbox" name="category" value="2"><label style="margin-left: 10px;"> Hombre</label>
          </div>
          <div>
            <input type="checkbox" name="category" value="3"><label style="margin-left: 10px;"> Zapatillas</label>
          </div>
          <div>
            <input type="checkbox" name="category" value="4"><label style="margin-left: 10px;"> Accesorios</label>
          </div><br>
          <% if (locals.errors && errors.category) { %>
          <p style="color: red"> <%= errors.category.msg %> </p>
          <% } %>
        </div>
        <div class="create-control-formulario">
          <label class="create-label">COLORES DISPONIBLES</label>
          <div class="checkbox-container">
            <% for (let i=0; i<allColours.length; i++) { %>
            <input type="checkbox" id="<%= allColours[i].colour %>" name="colours" value="<%= allColours[i].id %>">
            <label for="<%= allColours[i].colour %>"><%= allColours[i].colour %>
            </label>
            <% } %>
          </div> <br>
          <% if (locals.errors && errors.colours) { %>
          <p style="color: red"><%= errors.colours.msg %></p>
          <% } %>
        </div>
        <div class="create-control-formulario">
          <label class="create-label" for="Talles">TALLES DISPONILBES</label>
          <div>
            <% allSizes.forEach(size => { %>
            <input type="checkbox" id="<%= size.size %>" name="sizes" value="<%= size.id %>">
            <label for="<%= size.size %>"><%= size.size %></label>
            <% }) %>
          </div> <br>
          <% if (locals.errors && errors.sizes) { %>
          <p style="color: red"><%= errors.sizes.msg %></p>
          <% } %>
        </div>
        <div class="create-control-formulario">
          <label for="precio-product" class="create-label">PRECIO</label>
          <input class ="placeholder-create" type="number" name="price"><br>
          <% if (locals.errors && errors.price) { %>
          <p style="color: red"><%= errors.price.msg %></p>
          <% } %>
        </div>
        <div class="create-control-formulario">
          <label for="discount-product" class="create-label">DESCUENTO</label>
          <input class ="placeholder-create" type="number" name="discount"><br>
          <% if (locals.errors && errors.discount) { %>
          <p style="color: red"><%= errors.discount.msg %></p>
          <% } %>
        </div>
        <div>
          <button class="boton-create" type="reset">BORRAR</button>
          <button class="boton-create" type="submit">GUARDAR PRODUCTO</button>
        </div>
      </form>
  </div>
    <%- include('../partials/footer') %>
    <script src="/js/validatorCreateProduct.js"></script>
</body>

</html>