<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>;

    <body>
        <%- include('../partials/header') %>;
            <h2> hola</h2>
            <main>
                <h2><strong>Mujer</strong></h2>
                <section class="productos">
                    <article>
                        <% products.forEach(function(product){ %>
                            <% let precioDisc=( product.price*product.discount)/100; 
                        let precioFinal=product.price - precioDisc; %>
                                <img src="/img/<%= product.imagen %>" class="imagen" alt="calza Negra">
                                <div class="datosArticulo">
                                    <i class="fas fa-truck" class="fa-truck"></i>
                                    <div class="precioDesc">
                                        <h4 class="precio">
                                            <%= precioFinal %>
                                        </h4>
                                        <h4 class="aclaracion">
                                            <%= precioDisc %> % off</4>
                                    </div>
                                    <p class="aclaracion">
                                        <%= product.name %>
                                    </p>
                                </div>
                                <% }) %>
                    </article>

                </section>
                <h2>Hombre</h2>

                <section class="productos">
                    <article>
                        <% products.forEach(function(product){ %>
                            <% let precioDisc= (product.price*product.discount)/100;
						let precioFinal= product.price - precioDisc; %>
                                <img src="/img/<%= product.imagen %>" class=" imagen" id="remeraHombre" alt="remera Hombre">
                                <div class="datosArticulo">
                                    <i class="fas fa-truck"></i>
                                    <div class="precioDesc">
                                        <h4 class="precio">
                                            <%= precioFinal %>
                                        </h4>
                                        <h4 class="aclaracion">
                                            <%= precioDisc %>% off</4>
                                    </div>
                                    <p class="aclaracion">
                                        <%= product.name %>
                                    </p>
                                </div>
                                <% }) %>
                    </article>
                </section>
                <h2><strong>Accesorios</strong></h2>
                <section class="productos">
                    <article>
                        <% products.forEach(function(product){ %>
                            <% let precioDisc= (product.price*product.discount)/100;
						let precioFinal= product.price - precioDisc; %>
                                <img src="../img/<%=product.imagen %>" class="imagen" alt="pelotasPaddle">
                                <div class="datosArticulo">
                                    <i class="fas fa-truck"></i>
                                    <div class="precioDesc">
                                        <h4 class="precio">
                                            <%= precioFinal %>
                                        </h4>
                                        <h4 class="aclaracion">
                                            <%= precioDisc %> % off</4>
                                    </div>
                                    <p class="aclaracion" id="tuboPelotasPaddle">
                                        <%= product.name %>
                                            <%= product.description %>
                                    </p>
                                </div>
                                <% }) %>
                    </article>
                </section>
                <h2>Zapatillas</h2>
                <section class="productos">
                    <article>
                        <% products.forEach(function(product){ %>
                            <% let precioDisc= (product.price*product.discount)/100;
                             let precioFinal= product.price - precioDisc; %>
                                <img src="/img/<%= product.imagen %>" class="imagen" id="zapatillas" alt="Zapatillas">
                                <div class="datosArticulo">
                                    <i class="fas fa-truck"></i>
                                    <div class="precioDesc">
                                        <h4 class="precio">
                                            <%= precioFinal %>
                                        </h4>
                                        <h4 class="aclaracion">
                                            <%= precioDisc %> % off</4>
                                    </div>
                                    <p class="aclaracion">
                                        <%= product.name %>
                                            <%= product.description %>
                                    </p>
                                </div>
                                <% }) %>
                    </article>
                </section>-
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>