<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los productos</h2>
			</div>
            <!-- Categoria Mujer -->
            <div class="col-12">
                <h2 class="category-title">Mujer</h2>
			</div>

			<% productMujer.forEach(function(productMujer){ 
				let finalPrice = (productMujer.price * ((100 - productMujer.discount) / 100)).toFixed(0)
			%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/<%= productMujer.id %>">
							<figure class="product-box_image">
								<img src="/img/<%= productMujer.imagen[0] %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$<%= toThousand(finalPrice) %></h2>
								<span><%= productMujer.discount %> %OFF</span>
								<p><%= productMujer.name %></p>
								<i class="fas fa-truck"></i>
                                <form action="#" method="get">
                                    <a href="products/<%= productMujer.id %>/edit"><input type="button" name="edit-product" value="Editar producto" class="detail-add-trolle"></a>
                                </form>
                                
							</article>
						</a>
					</section>
				</div>
				<% }) %>

                <!-- Categoria Hombre -->

                <div class="col-12">
                    <h2 class="category-title">Hombre</h2>
                </div>
    
                <% productHombre.forEach(function(productHombre){ 
                    let finalPrice = (productHombre.price * ((100 - productHombre.discount) / 100)).toFixed(0)
                %>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <section class="product-box">
                            <a href="/products/<%= productHombre.id %>">
                                <figure class="product-box_image">
                                    <img src="/img/<%= productHombre.imagen[0] %>" alt="imagen de producto">
                                </figure>
                                <article class="product-box_data">
                                    <h2>$<%= toThousand(finalPrice) %></h2>
                                    <span><%= productHombre.discount %> %OFF</span>
                                    <p><%= productHombre.name %></p>
                                    <i class="fas fa-truck"></i>
                                </article>
                            </a>
                        </section>
                    </div>
                    <% }) %> 

                    <!-- Categoria Accesorios -->

                    <div class="col-12">
                        <h2 class="category-title">Accesorios</h2>
                    </div>
        
                    <% productAccesorios.forEach(function(productAccesorios){ 
                        let finalPrice = (productAccesorios.price * ((100 - productAccesorios.discount) / 100)).toFixed(0)
                    %>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <section class="product-box">
                                <a href="/detail/<%= productAccesorios.id %>">
                                    <figure class="product-box_image">
                                        <img src="/img/<%= productAccesorios.imagen[0] %>" alt="imagen de producto">
                                    </figure>
                                    <article class="product-box_data">
                                        <h2>$<%= toThousand(finalPrice) %></h2>
                                        <span><%= productAccesorios.discount %> %OFF</span>
                                        <p><%= productAccesorios.name %></p>
                                        <i class="fas fa-truck"></i>
                                    </article>
                                </a>
                            </section>
                        </div>
                        <% }) %>                   
		</div>
	</div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>